<div class="topbar">
	<div class="outer">
		<div class="inner">
			{{#ifand isFullScreenAllowed isFullScreen}}
			<button class="fullscreen-button in-fullscreen iv-fullscreen-button">
			</button>
			{{else}}
			<button class="fullscreen-button not-fullscreen iv-fullscreen-button">
			</button>
			{{/ifand}}
		</div>
	</div>
</div>