<div class="interactivevideo-inner component-inner" role="region" aria-label="{{_globals._components._media.ariaRegion}} {{#if _media.transcriptLink}}{{_globals._components._media.transcriptButton}}{{/if}}" {{#if _globals._components._media.ariaRegion}}tabindex="0"{{/if}}>
    {{> component this}}
    
    <div class="interactiveview-widget component-widget {{#unless _isEnabled}} disabled {{#if _isInteractionComplete}} complete submitted show-user-answer {{#if _isCorrect}}correct{{/if}} {{/if}} {{/unless}}" view-container="true">
    <span tabindex="0" role="presentation" aria-label="." class="a11y-ignore"></span>
    </div>
    <div class="buttons" style="display:none;">
    </div>
</div>
